<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text="${title}">Title</title>

    <link th:href="@{'https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap'}" rel="stylesheet" >
    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/plugins.css}" rel="stylesheet" type="text/css" />
</head>
</html>