<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="main-nav" class="container ">
    <nav class="navbar navbar-expand">
        <a class="navbar-brand" th:href="@{/}">메인프로젝트</a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users/sign-up}">회원가입</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users/sign-in}">로그인</a>
            </li>
        </ul>
    </nav>
</div>
</html>